

body {
    margin: 0 auto;
    padding: 0;
    color: #333333;
}
table{
    width: 100%;
    border-spacing: 0;
    margin-top: 3rem;
  }
  
  table th{
    border-bottom: solid 2px #6666ff;
    padding: 10px 0;
    width: 25%;
  }
  
  table td{
    border-bottom: solid 2px #fb5144;
    text-align: center;
    padding: 20px 0;
    width: 75%;
  }
/*mypage.blade*/
.myPageWrapper {
  /*display: flex;*/
}
.pageCallBack {
  font-size: 1.5rem;
  margin-top: 2rem;
  height: 2rem;
  width: 100%;
}
.myPageUser {
  width: 30%;
  height: 60px;
  margin-top: 100px;
}
.headUserWrapper {
  display: flex;
}
.head-user {
  width: 45%;
  height: 70vh;
  border-radius: 2rem;
  background-color: rgba(186, 255, 186, 0.8);
  margin-top: 2rem;
  margin-right: 5rem;
  float: left;
}
.my-page-top {
  width: 100%;
}
.my-page-top p {
  padding: 2rem;
  font-size: 2rem;
}

/*ここから*/
ul {
  list-style:none;
}
div {
  padding: 0 30px;
}
.header {
  display: flex;
  height:70px;
  line-height: 70px;
  align-items: center;
  background: rgba(186, 255, 186, 1);
  /*background: orange;*/
  margin-bottom: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 3px 6px rgba(186, 255, 186, 15); /*これを付け足し*/
  /*z-index:500;*/
}
.header nav {
  margin-left: auto;
}
.header ul {
  display: flex;
}
.header ul li {
  margin-left: 20px;
  margin-top: 1rem;
  color: white;
}
.header ul li a {
    text-decoration:none;
    color: #333333;
    padding: 0.5rem;
    border-radius: 3px;
}

.header ul li a:hover {
    /*color: #7dff76;*/
    color: #333333;
    background: white;
}


/*lessonlist*/
.items {
    display: flex;
    flex-wrap: wrap;
}
.itemBox {
    height: 300px;
    width: 300px;
    background: rgba(186, 255, 186, 0.3);
    border-radius: 2rem;
    border: 2px solid green;
    float: left;
    margin: 2rem;
    text-align: center;
    color: #333333;
}
.itemBox p {
    margin: 1rem auto;
}
.boxInner {
    height: 60%;
}

.itemBox button {
    background: #333333;
    margin-top: 0.5rem;
    height: 15%;
    width: 70%;
    margin: 0 auto;
    border-radius: 0.5rem;
    border: 1px solid green;
    /*background: rgba(186, 255, 186, 0.3);*/
    background: rgba(186, 255, 186, 0.3);
}
.itemBox .btn {
    background: #333333;
    margin-top: 0.5rem;
    height: 40px;
    width: 100px;
    margin: 0 auto;
    border-radius: 0.5rem;
    border: 1px solid green;
    /*background: rgba(186, 255, 186, 0.3);*/
    background: rgba(186, 255, 186, 0.3);
}

.itemBox .btn:hover {
    background: #28a745;
    border: 2px solid white;
    border-radius: 0.5rem;
    color: white;
}
.content-wrapper {
    margin-top: 70px;
    text-align: center;
}
/*ここまで*/

.items .itemBox p {
  color: green;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.table-position {
  /*margin-top: 8rem;*/
  width: 70%;
  margin: 8rem auto;
}
.table-position .titleLanguageName {
  color: rgba(186, 255, 186, 0.9);
  font-size: 2rem;
  border-bottom: 3px solid rgba(186, 255, 186, 0.9);
}

.table-position tr td .btn {
    background: #333333;
    height: 50px;
    width: 100px;
    margin: 0.5rem 0 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid green;
    line-height: 38px;
    background: rgba(186, 255, 186, 0.3);
}

.table-position tr td .btn:hover {
    background: #28a745;
    border: 2px solid white;
    border-radius: 0.5rem;
    color: white;
}
.role {
    background: #333333;
    height: 50px;
    width: 100px;
    margin: 0.5rem 0 0.5rem 1.5rem;
    border-radius: 0.5rem;
    border: 1px solid green;
    line-height: 38px;
    background: rgba(186, 255, 186, 0.3);
}
/*.role:hover {*/
/*    background: #28a745;*/
/*    border: 2px solid white;*/
/*    border-radius: 0.5rem;*/
/*    color: white;*/
/*}*/
.active {
  background-color: red;
}
